@charset "UTF-8";

:root {
    --cor-branco: #ffffff;
    --cor-quase-branco: #f5efff;
    --cor-lilas-claro: #e5d9f2;
    --cor-lilas: #cdc1ff;
    --cor-violeta: #a594f9;
    --cor-azul-discord: #7371fc;
    --cor-roxo: #843bb4;
    --cor-roxo-escuro: #1e0034;
    --cor-preto: #000000;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-roxo);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

#imagem {
    background-image: url(../imagens/back-space1-pq.jpg);
    background-position: center center;
    background-size: cover;
    display: block;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: var(--cor-branco);
    width: 250px;
    height: 515px;
    padding: 10px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: var(--cor-preto);
    text-align: center;
    padding-block: 10px;
}

p {
    font-size: 1em;
    text-align: center;
    margin-block: 8px;
}

#person {
    color: var(--cor-quase-branco);
    display: inline-block;
}

#div-email {
    background-color: var(--cor-roxo);
    margin-inline: auto;
    margin-block: 5px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#iemail {
    display: inline-block;
    background-color: var(--cor-quase-branco);
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border-color: var(--cor-violeta);
}

#iemail:focus {
    background-color: var(--cor-branco);
}

#key {
    color: var(--cor-quase-branco);
    display: inline-block;
}

#div-senha {
    background-color: var(--cor-roxo);
    margin-inline: auto;
    margin-block: 5px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#isenha {
    display: inline-block;
    background-color: var(--cor-quase-branco);
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border-color: var(--cor-violeta);
}

#isenha:focus {
    background-color: var(--cor-branco);
}

#entrar {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: var(--cor-roxo);
    width: 100%;
    height: 40px;
    margin-inline: auto;
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 10px;
    border-color: var(--cor-violeta);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#entrar:hover {
    background-color: var(--cor-violeta);
    cursor: pointer;
}

a {
    text-decoration: none;
}

#esqueceu {
    display: block;
    color: black;
    font-size: 15px;
    background-color: var(--cor-branco);
    width: 100%;
    height: 40px;
    margin-inline: auto;
    margin-block: 5px;
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 10px;
    border-color: var(--cor-violeta);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#esqueceu:hover {
    color: white;
    background-color: var(--cor-violeta);
    cursor: pointer;
}